<header fxLayout="row" fxLayoutAlign="start stretch">

    <div class="left" fxFlex="10">

    </div>

    <div class="logo" fxFlex>


        <h1 [style.xs]="{'font-size.rem': 1 }" [style.sm]="{'font-size.rem': 3}" [style.md]="{'font-size.rem': 5}">Coffee Project</h1>






    </div>

    <div class="right" fxFlex="10">

    </div>

</header>

<header fxLayout="row" fxLayoutAlign="start stretch">
    <div class="left" fxFlex="10">

    </div>
    <md-toolbar class="layout" fxFlex>
        <button md-button [mdMenuTriggerFor]="menu">Menu</button>
        <md-menu #menu="mdMenu">
            <button md-menu-item routerLink="/hello" routerLinkActive="active">home</button>
            <button md-menu-item routerLink="/blog" routerLinkActive="active">blog</button>
            <button md-menu-item routerLink="/about" routerLinkActive="active">about</button>
            <button md-menu-item routerLink="/initiatives" routerLinkActive="active">initiatives</button>

        </md-menu>

        <span class="fill-remaining-space">
   
        </span>
        <button md-button [mdMenuTriggerFor]="menu">login</button>
        <md-menu #menu="mdMenu">
            <button (click)="login()" *ngIf="!(user | async)?.uid">Login</button>
            <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
        </md-menu>
    </md-toolbar>
    <div class="right" fxFlex="10">

    </div>

</header>

<!-- <md-toolbar class="layout">
    <button md-button [mdMenuTriggerFor]="menu">Menu</button>
    <md-menu #menu="mdMenu">
        <button md-menu-item routerLink="/hello" routerLinkActive="active">home</button>
        <button md-menu-item routerLink="/blog" routerLinkActive="active">blog</button>
        <button md-menu-item routerLink="/about" routerLinkActive="active">about</button>
        <button md-menu-item routerLink="/initiatives" routerLinkActive="active">initiatives</button>

    </md-menu>

    <span class="fill-remaining-space">
      welcome
    </span>
    <button md-button [mdMenuTriggerFor]="menu">login    </button>
    <md-menu #menu="mdMenu">
        <button (click)="login()" *ngIf="!(user | async)?.uid">Login</button>
        <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
    </md-menu>
</md-toolbar> -->

<button md-icon-button color="primary" [mdMenuTriggerFor]="menu">
  <md-icon color="primary">fingerprint</md-icon>
</button>
<md-menu color="primary" #menu="mdMenu">


    <button md-menu-item routerLink="/hello" routerLinkActive="active">home</button>
    <button md-menu-item routerLink="/blog" routerLinkActive="active">blog</button>
    <button md-menu-item routerLink="/about" routerLinkActive="active">about</button>
    <button md-menu-item routerLink="/initiatives" routerLinkActive="active">initiatives</button>


    <button color="primary" md-menu-item (click)="login()"><md-icon>check</md-icon> <span>Login</span>
  </button>
    <button color="primary" md-menu-item (click)="logout()">
    <md-icon>close</md-icon>
    <span>Logout</span>
  </button>

</md-menu>