@import './../styles.scss';
.header {
    background-color: white;
}

.main-menu {
    background-color: white;
    min-height: 100px;
}
svg {

    left:50%;
   top:50%;
}

// svg {
//   display:block;
//   width:258px;
//   height:258px;
//   position:absolute;
//   left:50%;
//   top:50%;
//   transform:translate(-50%,-50%);
// }
