<div fxLayout="row" fxLayoutAlign="center center">
    <md-card fxFlex="80%">
        <div fxLayout="row" fxLayoutAlign="center center" class="div1">
            <p>DIV1[text align center]</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="div2" fxLayout.xs="column">
            <p>
                hello works!
            </p>
        </div>
        <div fxFlex="100%" fxLayoutAlign="center center" class="div5">
            <p>DIV5 [text align end]</p>
        </div>
    </md-card>
</div>