<!-- <div class="blog-post-card"> -->


<md-card fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap>



    <md-card *ngFor="let post of posts | async" fxFlex="50">
        <md-card-header>
            <md-card-title>
                <h5>{{ post.title }}</h5>
            </md-card-title>
            <img md-card-avatar src="{{post.image}}">
        </md-card-header>
        <img md-card-image src="{{post.image}}" alt="image caption">
        <md-card-content>
            <h5><small>{{ post.author }}</small></h5>
            <p>{{post.text}}</p>
        </md-card-content>

        <md-card-actions>
            <button md-button><md-icon>email</md-icon> Email {{ item.name }}</button>
            <button md-button><md-icon>call</md-icon> Call {{ item.name }}</button>
        </md-card-actions>
    </md-card>

</md-card>

<div fxLayout="column" fxLayoutAlign="center center">


    <md-card *ngFor="let post of posts | async" fxFlex="80%">
        <md-card-title>{{post.title}}</md-card-title>
        <md-card-subtitle>{{post.author}}</md-card-subtitle>
        <img md-card-image src="{{post.image}}" alt="image caption">
        <md-card-content>
            <h2> {{post.title}}</h2>
            <p>{{post.text}}</p>
        </md-card-content>
        <!-- <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-actions> -->
    </md-card>
    <div>
        <!-- <ul>
    <li class="text" *ngFor="let post of posts | async">


        <md-card>{{post.title}}</md-card>


        {{post.title}} {{post.author}} {{post.description}}
    </li>
</ul> -->