/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import 'grey-deep-orange.scss';
body {
    // background-image: url('./assets/sq-image-01.svg');
    background-image: url('/assets/gplaypattern_@2X.png');
    height: 100vh;
    font-family: 'Karla', sans-serif;
    color: $primary-text-color;
}

a {
    text-decoration: none;
    color: $accent-color;
}

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import 'grey-deep-orange.sass';
// html,
// body {
//     font-family: $primary-font;
//     margin: 0;
//     width: 100%;
//     height: 100%;
// }
// h1 {
//     font-family: $primary-font;
//     color: $primary-color-dark;
//     text-transform: uppercase;
// }
// button {
//     color: $primary-color-dark;
// }
// .app {
//     height: 100vh; // emmet h100vh
// }